.container-header {
  max-height: 640px;
  max-width: 360px;
  display: flex;
  justify-content: space-between;
}
.navbar button {
  width: 18.5rem;
  height: 3.5rem;
  margin: 0.5rem;
}
.container-nav {
  width: 18.5rem;
}
.icon-menu {
  padding: 1rem;
}
.hidden {
  display: none;
}
